.remove-a-blue,
.remove-a-blue:hover,
.remove-a-blue:visited,
.remove-a-blue:link,
.remove-a-blue:active {
  color: #FFF;
  text-decoration: none;
}

.writing {
  margin: auto;
  width: 50%;
  text-align: center;
}

.content-section {
  padding: 50px;
}

.home {
  background: url(BckgrndCmp.jpg) no-repeat fixed;
  height: 500px;
  background-size: cover;
}

.content-section.banner {
  text-align: center;
  height: 40vw;
  min-height: 300px;
  color: white;
}

.content-section.banner h1 {
  display: inline-block;
  -webkit-text-stroke: 2px black;
  font-size: 5rem;
  margin: 20% auto auto auto;
  border-bottom: 0.5px solid white;
}

.work-icon {
  width: 100%;
}

.work-box {
  margin: auto;
  text-align: center;
  padding: 1rem;
  min-width: 200px;
}

.work-box i {
  border-bottom: 3px rgba(0, 0, 0, 0.2) solid;
  padding: .75rem;
  padding-bottom: 3rem;
}

.work-box p {
  padding: .75rem;
}

.footer {
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  padding: 1%;
}

.contact-block {
  color: black;
  justify-content: center;
  text-align: center;
  padding: 5px;
  border: solid black 3px;
  outline: none;
  transition: all .3s;
  background: white;
  border-radius: 5px;
}

.contact-block .name {
  font-size: 2rem;
}

.contact-block i {
  padding: 1px;
}

.contact-block:hover {
  background: black;
  color: white;
}

.at {
  border-bottom: black solid 3px;
}

.project {
  width: 100%;
  min-height: 300px;
}

.thumbnail:hover,
.thumbnail:visited,
.thumbnail:link,
.thumbnail:active {
  color: #000;
  text-decoration: none;
}

.thumbnail iframe {
  pointer-events: none;
  border: none;
}
